<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>Hello Django</h1>
    <h1>密嗎產生器</h1>
    <form action="{% url 'password' %}" , method="get">
        <label for="id-lenghth">密碼長度</label>
        <select name="lenghth" id="id-lenghth">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" selected>6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label for="id-input-lenghth">自定義長度</label>
        <input type="number" name="input-lenghth" id="id-input-lenghth" value="{{number}}" />
        <br>
        <input type="checkbox" name="uppercase" id="id-uppercase" />大寫
        <input type="checkbox" name="number" id="id-number" />數字
        <input type="checkbox" name="special" id="id-special" />特殊
        <p><button type="submit">產生</button></p>
    </form>
</body>

</html>